:host {
  ion-card {
    filter: blur(3px);
    min-height: 200px;
  }

  ion-item {
    --border-color: var(--my-custom-border);
    --background: transparent;
    margin: 0px !important;
    width: 70%;
  }

  ion-skeleton-text {
    --background-rgb: 0, 255, 0;
  }

}
